    <div class="row-fluid">
      <div class="span12 footer muted">
        Copyright 2003-2020 - James M. Curran
      </div>
    </div>
    <script type="text/javascript">
    var disqus_shortname = 'honestillusion'; 

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>    
  </body>
</html>
