<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% case page.layout %}
    {% when 'default' %}
        <title>{{ site.tagline }}- HonestIllusion.Com</title>
    {% else %}
        <title>&ldquo;{{page.title}}&rdquo; - HonestIllusion.Com </title>
    {% endcase %}
<meta name="keywords" content="James Curran, JamesCurran, Zames, ZamesCurran, dotnet csharp, .NET, C#, code, programming, Rev Billy, RevBilly, Stop Shopping, progressive" />
    
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/4.4.1/css/bootstrap-combined.min.css" rel="stylesheet">    
<link href="//netdna.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css"  rel="stylesheet">    
<link href="/css/styles.css" rel="stylesheet">  
    <style>
      body 
      {
        padding-top: 0; /* 60px to make the container go all the way to the bottom of the topbar */
        max-width: none;
      }
      .container
      {
        max-width: none;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="navbar-brand" href="/">Honest Illusion</a>
      <span class="col-sm-5 small">"Where Lightening is still the biggest thrill of all..."</span>
      <span class="col-sm-1 small"><img src="/images/MC-Escher-Impossible-Cube.png" /> </span>
		  <span class="col-offset-1 col-sm-5 small">Code'n'Stuff from James Curran, simple country programmer.</span>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url or page.url == link.alt_url %}
                  {% assign current = 'active' %}
                {% endif %}

                <li class="{{ current }}">
                  <a href="{{ link.url }}">{{ link.text }}</a>
                </li>
                {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </nav>
 