<div class="col-lg-4">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
    
<li>
<a href="https://feeds.feedburner.com/HonestIllusion" rel="alternate" type="application/rss+xml">
    <img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/>
&nbsp;Subscribe in a reader</a>
</li>
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">News</div>
  <div class="card-body">
     <p class="card-text">

      <blockquote class="blockquote">
        <p class="mb-0">"What news?"<br/>
          "None, my lord, but that the world's grown honest."<br/>
          "Then is doomsday near."<br/></p>
        <footer class="blockquote-footer">Shakespeare <cite title="Hamlet">Hamlet</cite></footer>
      </blockquote>
      <blockquote class="blockquote">
        <p class="mb-0">Commit it then to the flames: for it can contain nothing but sophistry and illusion.</p>
        <footer class="blockquote-footer">David Hume (1711-1776)</footer>
      </blockquote>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Recent Posts</div>
  <div class="card-body">
      <div  class="card-text">
        <ul class="list-group">
        {% for post in site.posts limit: 5 %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="/archives.html" style="font-size:larger" >(Older posts...)</a>
        </li>
    </ul>
    <div>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">About</div>
  <div class="card-body">
    <p class="card-text">I'm a software developer in NY/NJ area.  I write C#, Javascript, and (formerly) C++, C & a bunch of others.</p>
    <p class="card-text">james.curran-at-gmail-dot-com</p>
  </div>
</div>
    
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Social</div>
  <div class="card-body">
    <p class="card-text">
	    <ul  class="list-group">
      <li  class="list-
      -item d-flex justify-content-between align-items-center">
        <a href=">https://www.noveltheory.com">Personal Website (resume'n'stuff')
	      <img src="/images/NovelTheoryLogo.svg" height="260" width="260" />
        </a>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="jamesmcurran"><a class="LI-simple-link" href='https://www.linkedin.com/in/jamesmcurran?trk=profile-badge'>James Curran</a></div>      
      </li>
	    
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="https://stackoverflow.com/users/12725/james-curran">
            <img src="https://stackoverflow.com/users/flair/12725.png" width="208" height="58" alt="profile for James Curran at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for James Curran at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
          </a></li>
	    <li class="list-group-item d-flex justify-content-between align-items-center">
        <iframe src="https://githubbadge.appspot.com/jamescurran?s=1" style="border: 0;height: 128px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="https://github.com/jamescurran/HonestIllusion">GitHub Repo for this blog</a>
      </li>
	    
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="https://www.codewars.com/users/jamescurran/"><img src="https://www.codewars.com/users/jamescurran/badges/small" />
        </a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <iframe src="https://www.codeproject.com/members/flair/2094" height="200" width="350" scrolling="no" frameborder="no">
        </iframe>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="https://twitter.com/zamescurran" class="twitter-follow-button" data-show-count="false">Follow @zamescurran</a>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
        
      </ul>
      
    </p>
  </div>
</div>
  </div>
</div>
