{% include header.html                   %}
{%  assign prevpost = null %}{%  assign nextpost = null  %}{%  assign Apost = null  %}{%  assign Bpost = null  %}{%  assign Cpost = null %}
{%    for testpost in site.posts  		%}
{%          assign Apost = Bpost %}{% assign Bpost = Cpost %}{% assign Cpost = testpost %}
{%        if Bpost.url == page.url     %}{% assign nextpost = Apost  %}{%  assign prevpost = Cpost %}
{%        elsif Cpost.url == page.url     %}{% assign nextpost = Bpost  %}{%  endif %}
{%    endfor                             %}

    <div class="container content">
      <div class="row">
        <div class="col-lg-9">
          <article class="post">
            <div class="jumbotron">
                <h1 class="display-3">{{page.title}}</h1>
            </div>
          <table>
            <tr>
                <td style="width:45%">
                {% if prevpost != null  %}
                 <a href="{{ prevpost.url }}">&laquo;&nbsp;Previous article:</a>
                {% endif %}
                </td>
                <td style="width:10%">&nbsp;</td>
                <td style="width:45%">
                {% if nextpost != null  %}
                <a href="{{ nextpost.url }}">Next article:&nbsp;&raquo;</a>
                {% endif %}
                </td>
			</tr>
			<tr>
                <td style="width:45%">
                {% if prevpost != null  %}
                 <a href="{{ prevpost.url }}">{{ prevpost.title }}</a>
                {% endif %}
                </td>
                <td style="width:10%"><a href="/">Blog Home</a></td>
                <td style="width:45%">
                {% if nextpost != null  %}
                <a href="{{ nextpost.url }}">{{ nextpost.title }}</a>
                {% endif %}
                </td>
			</tr>
			</table>
              <span class="badge badge-inverse">
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>
                {{ page.date | date: "%-d %B %Y"}}
                </time>
              </span>
            <div>{{ content }}</div>
	   <div>
              <span class="badge badge-inverse">
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>
                {{ page.date | date: "%-d %B %Y"}}
                </time>	
              </span>
			  <div class="category-list">Tags: <ul>{% for category in page.categories %}
			  <li><a href="/categories/{{category}}.html">{{category}}</a></li>
						{% endfor %}</ul>
			  </div>
            </div>
<script src="https://giscus.app/client.js"
        data-repo="jamescurran/jamescurran.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk5NDM3MzM3"
        data-category="Announcements"
        data-category-id="DIC_kwDOAJAAmc4CQlDn"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>			
        </div>
        {% include sidebar.html %}
      </div>
    </div>
{% include footer.html %}
