{% include header.html                   %}
{%  assign prevpost = null %}{%  assign nextpost = null  %}{%  assign Apost = null  %}{%  assign Bpost = null  %}{%  assign Cpost = null %}
{%    for testpost in site.posts  		%}
{%          assign Apost = Bpost %}{% assign Bpost = Cpost %}{% assign Cpost = testpost %}
{%        if Bpost.url == page.url     %}{% assign nextpost = Apost  %}{%  assign prevpost = Cpost %}
{%        elsif Cpost.url == page.url     %}{% assign nextpost = Bpost  %}{%  endif %}
{%    endfor                             %}

    <div class="container content">
      <div class="row">
        <div class="span9">
          <article class="post">
		  <h1>{{page.title}}</h1>
          <table>
            <tr>
                <td style="width:45%">
                {% if prevpost != null  %}
                 <a href="{{ prevpost.url }}">&laquo;&nbsp;Previous article:</a>
                {% endif %}
                </td>
                <td style="width:10%">&nbsp;</td>
                <td style="width:45%">
                {% if nextpost != null  %}
                <a href="{{ nextpost.url }}">Next article:&nbsp;&raquo;</a>
                {% endif %}
                </td>
			</tr>
			<tr>
                <td style="width:45%">
                {% if prevpost != null  %}
                 <a href="{{ prevpost.url }}">{{ prevpost.title }}</a>
                {% endif %}
                </td>
                <td style="width:10%"><a href="/">Blog Home</a></td>
                <td style="width:45%">
                {% if nextpost != null  %}
                <a href="{{ nextpost.url }}">{{ nextpost.title }}</a>
                {% endif %}
                </td>
			</tr>
			</table>
              <span class="badge badge-inverse">
                {{ page.date }}
{% comment %} 			  
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>
                {{ page.date | date_to_string }}
                </time>
{% endcomment %} 
              </span>
            <p>{{ content }}</p>
			<a href="javascript:document.getElementsByTagName('body')[0].appendChild(document.createElement('script')).setAttribute('src','//geekli.st/javascript/bookmarklet/bookmarklet.js')"><img src="//geekli.st/images/assets/GeekIt_wFace.png"></a>
            <div>
              <span class="badge badge-inverse">
                {{ page.date }}
			  {% comment %} 	
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>
                {{ page.date | date_to_string }}
                </time>
				{% endcomment %} 	
              </span>
			  <div class="category-list">Tags: <ul>{% for category in page.categories %}
			  <li><a href="/categories/{{category}}.html">{{category}}</a></li>
						{% endfor %}</ul>
			  </div>
            </div>
			
            <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'honestillusion'; 

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </article>
        </div>
        {% include sidebar.html %}
      </div>
    </div>
{% include footer.html %}
